/* Hero.css */
.hero-section {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.hero-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* This ensures the video covers the entire section */
  z-index: -1; /* Puts the video behind the content */
}

.carousel-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
  z-index: 1;
}

.cta-button {
  background-color: #ff5733;
  border: none;
  padding: 10px 20px;
  color: white;
  cursor: pointer;
  margin-top: 20px;
}

.solid-navbar {
  background-color: #000;
  transition: background-color 0.3s ease;
}
