/* Navbar styles - Navbar.css */
.navbar {
  position: fixed;
  width: 100%;
  z-index: 10;
  transition: background-color 0.3s ease;
}

.navbar.transparent-navbar {
  background-color: transparent;
}

.navbar.solid-navbar {
  background-color: #333; /* Solid color when scrolling down */
}
